.link-item {
  text-decoration: none;
  color: black;
}

.course-item {
  display: flex;
  align-items: center;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 8px;
}

.logo-style {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.name {
  font-weight: 500;
  font-size: 18px;
}
